* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.container {
  display: flex;
  width: 100%;
  max-width:100% ;
  height: 95vh;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  
}

.left,
.right {
  width: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

}

.login-box {
  width: 100%;
  max-width: 360px;
}

h1 {font-family: 'SF Pro Display', sans-serif;
 
    font-family: "Quicksand", sans-serif;
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 0.9rem;
}

p {font-family: "Quicksand", sans-serif;
  color: #555;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

form {font-weight: 400;
    font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  
}

label {font-family: "Quicksand", sans-serif;
    
  font-size: 1rem;
  font-weight: 600;
}

input {background-color: #e9efff90;
  padding: 0.7rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
 font-family: "Quicksand", sans-serif;
}

input:focus {
  border-color: #0f172a;
}

.forgot {
  text-align: right;
}

.forgot a {
  font-size: 0.8rem;
  color: #2563eb;
  text-decoration: none;
}

button {font-family: "Quicksand", sans-serif;
  background-color: #0f172a;
  color: #fff;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #1e293b;
}

.signup {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup a {
  color: #2563eb;
  text-decoration: none;
}

footer {
  font-size: 0.75rem;
  color: #aaa;
  text-align: center;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
  }

  .left, .right {
    width: 100%;
    height: auto;
  }

  .right img {
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .left {
    padding: 1.5rem 1rem;
  }

  .login-box {
    max-width: 100%;
  }

  h1 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.95rem;
  }

  button {
    font-size: 0.95rem;
  }
}
